@use "../../styles/base/palette.scss" as palette;
@use "../../styles/base/typography.scss" as typo;

.copyright {
    background-color: palette.$yellow-color;
    color: palette.$black-color;
    font-size: 18px;
    font-weight: 500;
}