@use "../../styles/base/palette.scss" as palette;
@use "../../styles/base/typography.scss" as typo;

.intro {
    padding: 15px 25px;
    color: palette.$black-color;
    background-color: palette.$light-blue-color;

    &__welcoming {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
    }

    &__main {
        &--title {
            font-size: 85px;
            font-weight: 300;
            -webkit-text-stroke: 0.5px palette.$grey-color;
            transform: translateY(25%);

            &__cursive {
                @include typo.use-pf-champion-font(90px);
                color: palette.$brighter-blue;
            }
            &__bold {
                @include typo.use-vivala-black-font(70px);
                color: palette.$yellow-color;
            }
        }
        &--label {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            border: 1px solid palette.$black-color;
            border-radius: 100px;
            padding: 5px 20px;
            width: 80px;
            background-image: linear-gradient(#FFFFFF, #FAF7BB, #FCF253, #FFF100);
        }
    }

    &__links {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        transform: translateY(35px);
    }
}