@use "./palette.scss" as palette;

@mixin basic-border-style-box {
    border: 0.5px solid;
    border-color: palette.$grey-color;
}

@mixin basic-popup-style {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(50%, 25%);
    z-index: 1;
    padding: 35px;
    justify-content: center;
}