@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$sora-font-name: 'Sora', sans-serif;

@mixin use-sora-font($font-size, $font-weight: 400) {
    font-family: $sora-font-name;
    font-optical-sizing: auto;
    font-weight: $font-wieght;
    font-style: normal;
    font-size: $font-size;
}