@use "../../styles/base/palette.scss" as palette;
@use "../../styles/base/mixin.scss" as mixin;

.projects {
    background-color: palette.$light-blue-color;
    color: palette.$black-color;
    padding: 20px;

    &__title {
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__texts {
        &__link {
            font-size: 16px;
            text-decoration: underline;
            font-weight: 500;
        }
    }

    &__row {
        &__cards {
            @include mixin.basic-border-style-box;
            padding: 25px 25px;
            background-image: linear-gradient(#FFFFFF, #BEDCFA, #ACD3FA, #85C2FF);
            width: 315px;

            &--title {
                font-size: 26px;
                font-weight: 500;
                line-height: 35px;
            }
            &--description {
                font-size: 12px;
                font-weight: 300;
                padding-top: 5px;
            }
            &--stack {
                font-size: 12px;
                font-weight: 500;
                padding-top: 10px;
            }
            &--view {
                text-decoration: underline;
                font-size: 12px;
                font-weight: 500;
                padding-top: 50px;
                text-align: right;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .projects {
        &__title {
            font-size: 28px;
        }
        &__texts {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__row {
            display: flex;
            flex-direction: column;

            &__cards {
                display: flex;
                flex-direction: column;
                width: fit-content;
            }
        }
    }
}